Repository cse110-sp21-group14/cse110-sp21-group14, pull requests merged in 2021-06, with the labels that each got.

#72 Fixed blueside bar + deleted nested list file
  nested-list/.gitignore
  nested-list/README.md
  nested-list/assets/example.gif
  nested-list/example/assets/codex2x.png
  nested-list/example/assets/demo.css
  nested-list/example/assets/json-preview.js
  nested-list/example/example.html
  nested-list/index.css
  nested-list/index.js
  nested-list/package.json
  nested-list/test.html
  nested-list/webpack.config.js
  nested-list/yarn.lock
  source/public/css/style-layout-main.css
Labels: bugfix

#73 Testers config
  source/testing/Config.test.js
  source/testing/sum.test.js
Labels: testing

#85 Onboardingdoc
  Home_page.png
  README.md
  admin/guide_figure/20-branch_names.PNG
  source/documentation/JSDocs/Calendar.html
  source/documentation/JSDocs/DailySchema.html
  source/documentation/JSDocs/Events.html
  source/documentation/JSDocs/JournalSchema.html
  source/documentation/JSDocs/Notes.html
  source/documentation/JSDocs/Ordered.html
  source/documentation/JSDocs/PageSchema.html
  source/documentation/JSDocs/Tasks.html
  source/documentation/JSDocs/UserSchema.html
  source/documentation/JSDocs/config_db.js.html
  source/documentation/JSDocs/config_decrypt.js.html
  source/documentation/JSDocs/config_passport.js.html
  source/documentation/JSDocs/config_secret.js.html
  source/documentation/JSDocs/global.html
  source/documentation/JSDocs/index.html
  source/documentation/JSDocs/middleware_auth.js.html
  source/documentation/JSDocs/models_Daily.js.html
  source/documentation/JSDocs/models_Journal.js.html
  source/documentation/JSDocs/models_Page.js.html
  source/documentation/JSDocs/models_User.js.html
  source/documentation/JSDocs/module-calendar%2520module.html
  source/documentation/JSDocs/module-decrypting%20module.html
  source/documentation/JSDocs/module-passport%20module.html
  source/documentation/JSDocs/module.exports.html
  source/documentation/JSDocs/public_scripts_editor_caret.js.html
  source/documentation/JSDocs/public_scripts_editor_dom.js.html
  source/documentation/JSDocs/public_scripts_editor_index.js.html
  source/documentation/JSDocs/public_scripts_editor_page-view.js.html
  source/documentation/JSDocs/public_scripts_script-calendar.js.html
  source/documentation/JSDocs/public_scripts_script-index.js.html
  source/documentation/JSDocs/public_scripts_script-login.js.html
  source/documentation/JSDocs/public_scripts_script-main.js.html
  source/documentation/JSDocs/public_scripts_script-settings.js.html
  source/documentation/JSDocs/routes_auth.js.html
  source/documentation/JSDocs/routes_calendar.js.html
  source/documentation/JSDocs/routes_index.js.html
  source/documentation/JSDocs/routes_main.js.html
  source/documentation/JSDocs/server.js.html
  source/documentation/JSDocs/testing_Config.test.js.html
  source/documentation/JSDocs/testing_Daily.test.js.html
  source/documentation/JSDocs/testing_Journal.test.js.html
  source/documentation/JSDocs/testing_Page.test.js.html
  source/documentation/JSDocs/testing_User.test.js.html
  source/documentation/JSDocs/testing_github.test.js.html
  source/testing/test-checklist.md
Labels: documentation
